<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>Bubbles</title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <meta author="Evolute Systems"/>
    <meta description="Bubbles WIP"/>
    <meta keywords="Collective Intelligence"/>
    <base target="_blank">
    <link rel="stylesheet" href="../public/stylesheets/style.css"/>
</head>
    
<body>
    <p>
    Content goes here. :)
    </p>
</body>

</html>