extends layout

block content
    h1= title

    p.
        This is a proof-of-concept for a collective intelligence platform.
        It lets you add and remove users and "follows" relationships between them.
        It also lets you create bubbles and relate them to other bubbles.

    p
        strong
            | Get started:&nbsp;
            a(href='/users') View all users
            
    p
        strong
            | Get started:&nbsp;
            a(href='/bubbles') View all bubbles
